<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>big_bomb0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 1610}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 23}, {258, 292}}</string>
			<key>spriteOffset</key>
			<string>{-13, -9}</string>
			<key>spriteSize</key>
			<string>{258, 292}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 1288}, {258, 292}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {304, 320}}</string>
			<key>spriteOffset</key>
			<string>{-8, -0}</string>
			<key>spriteSize</key>
			<string>{304, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 966}, {304, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {314, 320}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{314, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 644}, {314, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 644}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 0}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 966}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 966}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 322}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 322}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 0}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 0}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 644}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 966}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 322}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 322}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1610}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1288}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 966}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 1610}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 1610}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 1288}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 966}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 644}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 0}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1610, 322}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 644}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 322}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 1288}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 1288}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{966, 1288}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 1610}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>big_bomb0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 320}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1288, 644}, {320, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>bigBomg</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bigBomg_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bigBomg_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>